body {
    background: #232526;
    background: linear-gradient(to right, #232526, #414345);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: azure;
}

h1 {
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.img-gioco {
    height: 150px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 4%;
}

.img-scelta-gioc, .img-scelta-pc {
    visibility: hidden;
}

.col {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.btn-scelta {
    padding: 20px 50px;
    margin: 5px;
    background-color: white;
}

#vittoria {
    background-color: rgb(234, 234, 238, 0.6);
    color: black;
    position: absolute;
    top: 55%;
    left: 50%;
    margin: auto;
    width: 300px;
    margin-left: -150px;
    visibility: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}